.main-menu {
    z-index: 1031;
    display: table-cell;
    position: absolute;
    background-color: $bg-nav;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 5%);
    transition: -0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    width: 260px;
    height: 100%;
    padding: 2rem 0;
    overflow: hidden;
}

.main-menu .menu-fixed {
    position: fixed;
}

.main-menu .nav-link .bi {
    font-size: 1.3rem;
    margin-right: 1rem;
}

.main-menu .nav-pills {
    border-radius: unset;
}

.main-menu .nav-pills .nav-link {
    border-radius: unset;
    font-size: .8rem;
    color: $dark;
    padding: .8rem 2rem;
    margin: 0;
    background-color: transparent;
}

.nav .navigation-header {
    color: $gray-500;
    font-size: .7rem;
    margin: 1.5rem 0 .1rem 2rem;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.nav-pills .nav-link:hover {
    transition: all .3s ease-in-out;
}

.nav-pills .nav-link.active {
    font-weight: 600;
    background: linear-gradient(118deg, $primary-light, $primary-dark);
    box-shadow: 0 0 10px 1px $primary-light;
    color: $light;
}

.main-menu .nav .nav-item a {
    transition: padding 0.35s ease 0s !important;
}

.main-menu .nav .nav-item:hover > a {
    padding-left: 2.5rem;
    transition: padding 0.35s ease 0s !important;
}

.main-menu .navbar-brand {
    font-family: $font-brand;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: $primary;
    text-transform: lowercase;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    transition: all .3s ease-in-out;
}
.main-menu .navbar-brand:hover {
    color: $primary-light;
    transition: all .3s ease-in-out;
}

img.navbar-logo {
    height: 20%;
    width: 20%;
    margin-right: .5rem;
}

.top-menu {
    display: flex;
    align-items: center;
    background-color: $bg-nav;
    z-index: 12;
    right: 0;
    padding: 0;
    margin: 1.3rem 2.2rem 0;
    width: calc(100vw - (100vw - 100%) - calc(2.2rem * 2) - 260px);
    min-height: 3.5rem;
    border-radius: .5rem;
}

.top-menu .nav {
    flex-direction: row;
    flex-wrap: wrap;
}

.sticky-menu {
    position: fixed;
}

.absolute-menu {
    position: absolute;
}

.menu-shadow{
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 5%);
}

.top-menu .menu-container {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    transition: 300ms ease all;
    margin-left: 0;
}

//@media (min-width: 992px){
    .menu-expand {
        flex-flow: row nowrap;
        justify-content: flex-start;
        flex-basis: auto;
        flex-grow: 1;
    }
//}

.top-menu-shadow {
    display: block;
    background: linear-gradient(180deg, rgba(248, 248, 248, 0.95) 44%, rgba(248, 248, 248, 0.46) 73%, rgba(255, 255, 255, 0));
    padding-top: 2.2rem;
    background-repeat: repeat;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 11;
}

.top-menu .menu-wrapper {
    display: block;
    width: 100%;
}

.top-menu .bookmark-icons {
    font-size: 1.2rem !important;
}

.top-menu .nav-link{
    padding: .8rem 0.5rem;
    color: $dark;
    font-size: 1.2rem;
    transition: all .3s ease-in-out;
}

.top-menu .nav-link:hover {
    color: $primary;
    transition: all .3s ease-in-out;
}

.top-menu .dropdown-toggle::after {
    display: none !important;
}

.dropdown-notification .dropdown-header {
    background: linear-gradient(118deg, $primary-light, $primary-dark);
    color: $light;
    font-size: 1rem;
    border-top-left-radius: $dropdown-border-radius;
    border-top-right-radius: $dropdown-border-radius;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.dropdown-notification .dropdown-item:hover {
    background: transparent;
}

.badge {
    padding: .2rem .4rem;
    display: inline-block;
    font-size: 60%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.badge-up {
    position: absolute;
    top: 10px;
    right: 2px;
}

.badge-pill {
    border-radius: 10rem;
}

.badge-primary {
    background: linear-gradient(118deg, $primary-light, $primary-dark);
    color: $light;
}

.dropdown .user-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    float: left;
    margin-right: .8rem;
}

.user-nav .user-name {
    font-weight: 600;
    font-size: .8rem;

}

.dropdown-profile img {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 12%), 0 2px 4px 0 rgb(0 0 0 / 8%);
}