table.table-wave {
    border-spacing: 0 1.3rem;
    clear: both;
    margin: .5rem 0;
    border-collapse: separate;
}

.table-wave thead {
    border: transparent;
}

.table-wave tr.trow {
    border-radius: .5rem;
    box-shadow: 0.1rem 0.5rem .7rem $gray-200 !important;
}

.table-wave.checktable tr.trow {
    cursor: pointer;
    background-color: #fff;
}
.table-wave.checktable tr.trow:hover {
    top: -15px;
    background-color: $primary-100;
    transition: all .2s ease-in-out;
}

.table-wave tbody {
    border: transparent !important;
    padding: 1rem;
}
.table-wave td, .table-wave th {
    padding: 1rem;
}

.table-wave th.headers {
    font-size: .8rem;
    border: none;
    padding: .3rem 1rem;
    font-weight: 800;
}

.pagination-select {
    border-radius: .8rem;
}

th.headers a, th.sorting a {
    color: $gray-600;
}

th.sorting a:hover {
    color: $primary;
}

th.sorting a.active {
    color: $primary;
}

th.sorting a i {
    display: none;
    transition: opacity 1s ease-in-out;
}
th.sorting a:hover i {
    display: contents !important;
    transition: opacity 1s ease-in-out;
}

th.sorting a.active i {
    display: contents !important;
}