table.table-wave {
    border-spacing: 0 1.3rem;
    clear: both;
    margin: .5rem 0;
    border-collapse: separate;
}

table.table-wave thead {
    border: transparent;
}

table.table-wave tr.trow {
    border-radius: .5rem;
    box-shadow: 0.1rem 0.5rem .7rem $gray-200 !important;
}

table.table-wave.checktable tr.trow {
    cursor: pointer;
    background-color: #fff;
}
table.table-wave.checktable tr.trow:hover {
    top: -15px;
    background-color: $primary-100;
    transition: all .2s ease-in-out;
}

table.table-wave tbody {
    border: transparent !important;
    padding: 1rem;
}
table.table-wave td, .table-wave th {
    padding: 1rem;
    vertical-align: middle;
}

table.table-wave th.headers {
    font-size: .8rem;
    border: none;
    padding: .3rem 1rem;
    font-weight: 800;
}

.pagination-select {
    border-radius: .8rem;
}

th.headers a, th.sorting a {
    color: $gray-600;
}

th.sorting a:hover {
    color: $primary;
}

th.sorting a.active {
    color: $primary;
}

th.sorting a i {
    display: none;
    transition: opacity 1s ease-in-out;
}
th.sorting a:hover i {
    display: contents !important;
    transition: opacity 1s ease-in-out;
}

th.sorting a.active i {
    display: contents !important;
}

table.view-list td{
    padding-bottom: 0.8rem;
    min-width: 140px;
    word-wrap: break-word;
    font-size: 0.85rem;
}

table.list-settings {
    border-spacing: 0 1rem;
    border-collapse: separate;
    clear: both;
}

table.list-settings th{
    width: 3%;
}

table.list-settings .name {
    text-align: center;
    width: 20%;
}

table .row .flex-element {
    flex: 0 0 auto;
    width: auto;
}