.lh-13 {
    line-height: 1.3 !important;
}

.tab-pane .header {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $dark;
    padding-left: 1rem;
    padding-bottom: 1.3rem;
}

.alert a {
    font-weight: 700;
    text-decoration: underline;
}

textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-track {
background: rgb(179, 177, 177);
border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
background: rgb(136, 136, 136);
border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:hover {
background: rgb(100, 100, 100);
border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:active {
background: rgb(68, 68, 68);
border-radius: 10px;
}

i.bi {
    font-size: 1rem;
}

.top-menu i.bi {
    font-size: 1.1rem;
}

.page-header i.bi {
    font-size: 1.4rem;
}
