.avatar-xl {
    font-size: 1.5rem;
}

.avatar .avatar-content {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.avatar-xl {
    margin: 1rem 0;
}

.avatar-xl .avatar-content {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: $primary;
}

.avatar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}